/* TaskListTable.css */

.task-list-table {
    border: 1px solid #dfe1e5;
  }
  
  .task-row {
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
  }
  
  .task-row:nth-child(even) {
    background: #ffffff;
  }
  
  .task-row:nth-child(odd) {
    background: #f4f5f7;
  }
  
  .project-row {
    cursor: pointer;
  }
  
  .task-name {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .project-expander {
    margin-right: 5px;
  }
  